[submodule "integration_cobot_tb4"]
	path = integration_cobot_tb4
	url = https://github.com/MHC-CodeSmith/integration_cobot_tb4.git
	branch = main
[submodule "turtlebot4_jazzy"]
	path = turtlebot4_jazzy
	url = https://github.com/MHC-CodeSmith/Bot_HOF.git
	branch = main
[submodule "cobot"]
	path = cobot
	url = https://github.com/MHC-CodeSmith/Cobot.git
	branch = master
